<?xml version="1.0"?>
<Settings>
	<Session>
		<VariableName>AtlassianCLI-Session</VariableName>
	</Session>
	<Atlassian>
		<DateTimeStringPattern>^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}([\+\-][0-9]{2}(:)?[0-9]{2})?$</DateTimeStringPattern>
		<DateTimeStringFormat>yyyy-MM-ddTHH\:mm\:ss.fffzzz</DateTimeStringFormat>
	</Atlassian>
</Settings>